.form{
    display: flex;
    width: 40vw;
}


.input-task{
    border-radius: 7px;
    padding: 5px;
    background-color: #222831;
    color: #EEEEEE;
    font-size: 1.1rem;
    width: calc(100% - 57px);
    margin-right: 10px;
    border: none;
    box-shadow: 0 2px 7px 1px rgb(0, 0, 0, 0.3);
}

.add{
    padding: 8px;
    background-color: #FFD369;
    color: #222831;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

@media (max-width: 775px) {
    .form{
        width: 70vw;
    }
}