.completed{
    text-decoration: line-through ;

}

.notCompleted{

}


.containerTask{
    background-color: #222831;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    color: #EEEEEE;
    margin-top: 15px;
    font-size: 1.1rem;
    box-shadow: 0 2px 7px 1px rgb(0, 0, 0, 0.3);
    }

.btn{
    background-color: transparent;
    border: none;
    transition: 1s;
}

.btn svg{
    fill:#EEEEEE     ;
    width: 30px;
}

#not-checked{
    fill: #7BC74D;
}